* {	
	margin-top: 1px;
	margin-bottom: 1px;
	margin-left: 1px;
	margin-right: 1px;
	font-family: Arial;
	font-size: 12px;
}
textarea{
	float: right;
	resize:none;
	font-size: 11;
}
.CajaGeneral{
	border: 3px solid #000000;
	background-color: #FFF;	
	position: absolute;
}
.CajaGeneral #CajaLogin,
.CajaGeneral #CajaChat,
.CajaGeneral #CajaInfo{
	background-color: #FFF;
	border: 3px solid #000000;
	float:left;	
}
.CajaGeneral #CajaLogin input[type="text"],
.CajaGeneral #CajaLogin input[type="password"]{
	width: 100px;
}
.CajaGeneral #CajaLogin #BtnEntrar{
	padding: 0px 28px;
}